* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chatroom {
    height: 500px;
    display: none;
    background-color: rgb(255, 216, 109);
    margin: 100px;
    position: relative;

}

#chatbox {
    padding: 10px;
    height: 400px;
    overflow-y: scroll
}

#form-container {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#message-content {
    margin: 10px;
    bottom: 0;
    width: 90%;
    font-size: 12px;
    padding: 5px;
}

#name-container {
    margin: 100px;
}